<p>encryption works!</p>
<h4>
  #Angular #dotnet #RSA #private #public #key
  In this video, I have shown how to use RSA in Angular to encrypt little data and Decrypting the encrypted text in .net c# web API.
</h4>
Students:{{Students[0].name}}
<div class="row">
  <div class="col-md-4">

    <div class="col-md-12" *ngIf="!loginSuccess">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
               aria-describedby="basic-addon1" autocomplete="off" [(ngModel)]="userName">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="password" class="form-control" placeholder="Password" aria-label="Password"
               aria-describedby="basic-addon1" autocomplete="off" [(ngModel)]="userPass">
      </div>
      <span class="btn btn-success" (click)="login()">Login</span> <br />
      <span class="btn btn-success" (click)="encrypt()">Encrypt</span> <br />


    </div>

    <div class="alert" *ngIf="btnClicked" [ngClass]="{'alert-danger': !loginSuccess, 'alert-success': loginSuccess}"
         role="alert">
      {{loginSuccess ? 'Logged in successfully' : 'Failed to login'}}
    </div>
    <div class="row col-md-12">
      <span *ngIf="btnClicked && loginSuccess" class="btn btn-danger" (click)="logout()">Logout</span>
    </div>
  </div>
</div>
<hr />

<h4>AES Encryption/Decryption With Angular, this is used to encrypt big data</h4>

<br>
<div>
  <div class="row">
    <div class="col-sm-6">
      <button type="button" class="btn btn-primary btn-lg btn-block">
        Encryption
      </button>
      <br>
      <div class="form-group">
        <label for="txtTextToConvert">Plain Text</label>
        <input type="text" class="form-control" placeholder="Enter text you want to encrypt" [(ngModel)]="plainText">
      </div>

      <div class="form-group">
        <label for="txtPassword">Password</label>
        <input type="password" class="form-control" placeholder="Enter encryption password" [(ngModel)]="encPassword">
      </div>
      <textarea class="form-control" readonly rows="3">{{conversionEncryptOutput}}</textarea>
      <br>
      <button type="button" class="btn btn-success float-right" (click)="convertText('encrypt')">Encrypt</button>
    </div>
    <div class="col-sm-6">
      <button type="button" class="btn btn-dark btn-lg btn-block">
        Decryption
      </button>
      <br>
      <div class="form-group">
        <label for="txtTextToConvert">Encrypted Text</label>
        <input type="text" class="form-control" placeholder="Enter text you want to decrypt" [(ngModel)]="encryptText">
      </div>

      <div class="form-group">
        <label for="txtPassword">Password</label>
        <input type="password" class="form-control" placeholder="Enter decryption password" [(ngModel)]="decPassword">
      </div>
      <textarea class="form-control" readonly rows="3">{{conversionDecryptOutput}}</textarea>
      <br>
      <button type="button" class="btn btn-success float-right" (click)="convertText('decrypt')">Decrypt</button>
    </div>
  </div>
</div>

<hr />
<h3>Angular : Achieving payload encryption with CryptoJS AES With key and IV</h3>
<h3>Encrypt in JavaScript and Decrypt in C# With AES Algorithm</h3>

<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-primary btn-lg btn-block">
      Encryption
    </button>
    <br>
    <div class="form-group">
      <label for="txtTextToConvert">Username</label>
      <input type="text" class="form-control" placeholder="Enter text you want to encrypt" [(ngModel)]="username">
    </div>

    <div class="form-group">
      <label for="txtPassword">Password</label>
      <input type="password" class="form-control" placeholder="Enter encryption password" [(ngModel)]="password">
    </div>
    AES Encryption
    <textarea class="form-control" readonly rows="3">Encrypted username:{{encryptedlogin}}, Encrypted pass:{{encryptedPassword}}</textarea>
    RSA Encryption
    <textarea class="form-control" readonly rows="3">Encrypted key:{{encryptedKey}}, Encrypted IV:{{encryptedIV}}</textarea>

    <br>
    <button type="button" class="btn btn-success" (click)="encrypt2()">Encrypt</button>
    <button type="button" class="btn btn-success" (click)="send()">Send</button>
  </div>
</div>
<hr />

