<!--<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>-->
<table *ngIf="Students && Students.length > 0">
  <thead>
    <tr>
      <th>Serial</th>
      <th>Id</th>
      <th>Name</th>
      <th>Roll</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let student of Students; let i = index">
      <td>{{i+1}}</td>
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.roll}}</td>
    </tr>
  </tbody>
</table>
<br>
<p>Angular CRUD operation, PUT, GET DELETE...</p>
<button (click)="postData()">Execute http Post</button>
{{retPostData}}
<hr>
<br>
<button (click)="getData()">Execute http Get</button>
{{retGetData}}
<hr>
<button (click)="putData()">Execute http Put</button>
{{retPutData}}
<hr>
<button (click)="deleteData()">Execute http Delete</button>
{{retPutData}}
<hr />

<h4>Angular Directive: Attribute Directives</h4>
<h4>
  Create a myHighlight attribute directive to set an element’s background color when you hovers over that element.
  It can be applied anywhere
</h4>
<h1 highlight >My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>

<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [highlight]="color">Highlight me!</p>
<p [highlight]="color" defaultColor="Violet" > Highlight me too!</p>


